In [2]:
from pandas import Series, DataFrame
import pandas as pd

In [3]:
all_stars = pd.read_csv('report.csv', 
                      delimiter =',',
#                      index_col = 'MIP',
                      decimal = '.')
#                      usecol = ['MIP', 'STDIP', 'EKIP', 'SIP', 'MC','STDC','EKC','SC', 'TARGET'])
# SELECT * FROM pulsar_stars WHERE (TARGET = 0 AND (MIP >=82.9453125 and MIP <=84.3515625)) OR (TARGET = 1 AND (MIP >=83.7734375 and MIP <=92.6015625))

In [3]:
all_stars.describe()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TARGET
count,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000
mean,85.789256,42.387133,0.975398,2.367344,20.993634,36.035950,6.621928,74.838395,0.500000
std,2.923958,6.160790,0.371023,1.477557,36.801634,24.639606,4.672422,93.828885,0.501242
min,82.945312,31.838609,0.320524,-0.965077,0.481605,8.813878,-0.933088,-1.837228,0.000000
25%,83.640625,37.869019,0.688741,1.534875,2.120192,16.097073,2.944001,7.636771,0.000000
50%,84.261719,41.020268,0.886943,2.060092,4.762960,26.903698,6.231796,41.994882,0.500000
75%,87.699219,45.703739,1.224469,2.949067,16.689799,50.562165,9.862605,114.448411,1.000000
max,92.601562,74.457556,2.633668,12.432197,158.000836,102.856471,23.313692,613.774724,1.000000

In [4]:
del all_stars['TARGET']
all_stars.describe()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC
count,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000
mean,85.789256,42.387133,0.975398,2.367344,20.993634,36.035950,6.621928,74.838395
std,2.923958,6.160790,0.371023,1.477557,36.801634,24.639606,4.672422,93.828885
min,82.945312,31.838609,0.320524,-0.965077,0.481605,8.813878,-0.933088,-1.837228
25%,83.640625,37.869019,0.688741,1.534875,2.120192,16.097073,2.944001,7.636771
50%,84.261719,41.020268,0.886943,2.060092,4.762960,26.903698,6.231796,41.994882
75%,87.699219,45.703739,1.224469,2.949067,16.689799,50.562165,9.862605,114.448411
max,92.601562,74.457556,2.633668,12.432197,158.000836,102.856471,23.313692,613.774724

In [7]:
all_stars.columns

Index(['MIP', 'STDIP', 'EKIP', 'SIP', 'MC', 'STDC', 'EKC', 'SC'], dtype='object')

In [10]:
all_stars

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC
0,84.742188,40.007274,1.368957,3.812073,5.736622,32.047311,5.979603,36.147975
1,91.828125,34.111744,1.446682,5.265289,3.741639,25.317370,7.235101,53.582074
2,83.679688,36.379281,0.572532,2.664611,4.040970,23.169129,7.006681,53.514005
3,84.039062,38.943951,0.668007,1.586058,1.793478,13.494579,11.433532,161.907833
4,84.273438,38.399975,0.662579,1.778425,2.984114,16.690291,8.407608,86.913036
...,...,...,...,...,...,...,...,...
197,84.695312,49.348499,0.960378,1.102570,5.490803,27.764100,6.181768,40.399247
198,83.773438,52.279031,1.206698,1.630834,97.373746,90.905524,0.132639,-1.683188
199,84.289062,38.725224,0.533822,1.800349,2.167224,15.943057,9.864013,115.332025
200,84.304688,32.877271,0.910484,4.379138,2.716555,19.913838,8.192144,72.083951
201,83.507812,34.670321,1.079368,3.660143,1.545987,15.268184,11.980909,159.930732

In [20]:
from sklearn import preprocessing
scaler = preprocessing.MinMaxScaler()
#type(scaler)

In [29]:
#stars_scaled = scaler.fit_transform(all_stars[['MIP']])
stars_scaled = scaler.fit_transform(all_stars)
stars_scaled

array([[0.18608414, 0.19166745, 0.45325036, ..., 0.24705224, 0.28509726,
        0.06170316],
       [0.91990291, 0.05333626, 0.48685185, ..., 0.17548954, 0.33687725,
        0.09002311],
       [0.07605178, 0.10654116, 0.10894618, ..., 0.15264627, 0.32745665,
        0.08991254],
       ...,
       [0.13915858, 0.16158577, 0.09221137, ..., 0.07580798, 0.44530041,
        0.19032972],
       [0.1407767 , 0.02437091, 0.25504705, ..., 0.11803121, 0.37634821,
        0.12007756],
       [0.05825243, 0.06644257, 0.32805774, ..., 0.06863174, 0.53260669,
        0.26277586]])

In [34]:
list_columns = list(all_stars.columns)
norm_stars = pd.DataFrame(stars_scaled, columns = list_columns)
norm_stars.describe()

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC
count,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000,202.000000
mean,0.294518,0.247508,0.283110,0.248739,0.130219,0.289465,0.311588,0.124552
std,0.302805,0.144555,0.160398,0.110288,0.233633,0.262005,0.192703,0.152416
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.072006,0.141496,0.159185,0.186602,0.010402,0.077446,0.159901,0.015390
50%,0.136327,0.215436,0.244870,0.225805,0.027180,0.192358,0.295498,0.071201
75%,0.492314,0.325328,0.390786,0.292160,0.102897,0.443930,0.445242,0.188894
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [30]:
star = [0.337,0.513,0.425, 0.036,0.928,0.721, 0.714,0.261]

In [51]:
evklid_metric_list = []
for i in range(len(norm_stars)):
    s1 = norm_stars.loc[i]
    evklid_metric = 0
    for j in range(len(s1)):
        evklid_metric+=(s1[j]-star[j])**2
    evklid_metric_list.append(evklid_metric**0.5)

In [55]:
evklid_metric_list.sort()
evklid_metric_list[0]

0.7828460858809095